---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SideBar from "../components/SideBar.astro";
import { ViewTransitions } from "astro:transitions";

import { SITE_TITLE, SITE_DESCRIPTION, TRANSITION_API } from "../config";

const {
  image,
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  includeSidebar = true,
  sideBarActiveItemID,
  ogType,
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <BaseHead title={title} description={description} image={image} , ogType={ogType} />
    {TRANSITION_API && <ViewTransitions />}
    <script is:inline>
      (function() {
        if (!localStorage.getItem('theme')) {
          localStorage.setItem('theme', 'dark');
        }
        const theme = localStorage.getItem('theme');
        if (theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
      })();
    </script>
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100 min-h-screen">
    <div class="flex lg:flex-row min-h-screen">
      <input id="my-drawer" type="checkbox" class="hidden" />
      {includeSidebar && (
        <div class="fixed inset-y-0 left-0 z-50 w-80 lg:w-[19rem] transform -translate-x-full lg:translate-x-0 transition-transform duration-300 ease-in-out lg:static lg:inset-0 min-h-screen">
          <SideBar sideBarActiveItemID={sideBarActiveItemID} />
        </div>
      )}
      <div class="flex-1 lg:ml-0 flex flex-col min-h-screen">
        <Header title={SITE_TITLE} />
        <div class="flex-1 md:flex md:justify-center">
          <main class="p-4 sm:p-6 pt-10 w-full lg:max-w-[900px] max-w-none">
            <slot />
          </main>
        </div>
        <Footer />
      </div>
    </div>
    

  </body>
</html>
